*.pyc
*.swp
*.tmp
.coverage
.DS_Store
.local/
.svn
build/
command-test/sandbox/
command-test/test-volume.img
cover/
dist/
foo
env/
nose-*.egg/
sandbox/
scripts/
test-volume.dmg
test-volume/
topdir/
trash_cli.egg-info/
XDG_DATA_HOME/
