*.pyc
*.swp
*.tmp
.coverage
.DS_Store
.local/
.svn
/bin/
/build/
/command-test/sandbox/
/command-test/test-volume.img
/cover/
/dist/
/foo
/env/
/nose-*.egg/
/sandbox/
/scripts/
/test-disk.img
/test-disk.dmg
/test-disk/
/topdir/
/trash_cli.egg-info/
/XDG_DATA_HOME/
/fake-vol
/xdh/
