*.pyc
*.swp
*.tmp
.coverage
.DS_Store
.local/

# other things
/build/
/cover/
/dist/
/env/
/env2/
/sandbox/
/scripts/
/test-disk.img
/test-disk.dmg
/test-disk/
/trash_cli.egg-info/
/XDG_DATA_HOME/
/xdh/
/MANIFEST
/tags
/.vagrant/
/ssh-config
